@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
  margin: 0;
}

#main{
    background-image: url(im/bgMAIN.png);
}
section{
    min-height: 100vh;
}
#about{
    background-image: url(im/bgABOUT.png);
}
#skills{
  background-image: url(im/bgSKILLS.png);
}
#works{
  background-image: url(im/bgWORKS.png);
}
#comments{
  background-image: url(im/bgCOMMENTS.png);
}

.maskot{
  width: 92px;
}
.window{ 
  background-image: url(im/form1.png);
  border: 3px solid red;
  width: 851px;
  height: 229px;
  padding-top:90px;
  box-sizing: border-box; 
}
.window_title{
  font-family:Inter;
  font-size: 80px;
  font-weight: 700px;
}

.window__apo{
  font-family:Comfortaa;
    font-size: 20px;
  font-weight: 700px;
}